header,
.card{
  background-color: rgb(151, 204, 188);
}

body{
  background-color: rgb(212, 233, 221);
}
.container-card{
  max-width: 1200px;
  margin: 0 auto;
}
.card{
  margin: 0 auto;
  margin-top: 50px;
}


.container-form{
  max-width: 800px;
  margin: 0 auto;
  background-color: rgb(151, 204, 188);
  margin-bottom: 100px;
}
