header,
.card{
  background-color: rgb(151, 204, 188);
}

main{
  background-color: rgb(212, 233, 221);
}
.container-card{
  max-width: 1200px;
  margin: 0 auto;
}
.card{
  margin: 0 auto;
  margin-top: 50px;
}
